
<div>
    <h1><%=title%></h1>
      <form action='/file/search?id=<%=title%> ' method='POST'style="margin:40px">
        <input type="text"  style="height: 20px; width:120px " name='col'placeholder="col value ">
          <input type='text' style="height: 20px ;width:170px" placeholder="value to search" name='name'>
          <input type='submit'  style="padding: 2px" value='search'  >
      </form>
  
   
      <table style="width:100%">
         <tr>
          <% for (head of headers) {%>
              
             <th><%=head%> </th>
              <%}%>
         </tr>
  
    
       
          <% for (detail of data) {%>
                   
           
             <tr>
              <% for (row of headers ) {%>
               <td><%=detail[row]%></td>
                 <%}%>
              </tr>
              <%}%>
          
      </table>
  
      
  </div>