<link href="/csvfile.css" rel="stylesheet" type="text/css">
<div class="csvfile_outer">
    <h1><%=title%></h1>
      <form action='/file/search?id=<%=title%> ' method='POST'>
        <input type="text"  style=" width:120px; margin-right:20px " name='col'placeholder="col value ">
          <input type='text' style="width:200px; margin-right:10px" placeholder="value to search" name='name'>
          <input type='submit'  style="padding: 2px" value='search'  >
      </form>
  
   
      <table style="width:100%">
         <tr>
          <% for (head of headers) {%>
              
             <th><%=head%> </th>
              <%}%>
         </tr>
  
    
       
          <% for (detail of data) {%>
                   
           
             <tr>
              <% for (row of headers ) {%>
               <td><%=detail[row]%></td>
                 <%}%>
              </tr>
              <%}%>
          
      </table>
  
      
</div>